<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Number of producte</th>
  </tr>
  <% @categories.each do |c| %>
    <tr>
      <td><%= link_to c.name, c %></td>
      <td><%= c.description  %></td>
      <td><%= c.products.count %></td>
      <td><%= link_to 'Show',category_path(c)%></td>
      <td><%= link_to 'Edit',edit_category_path(c)%></td>
      <td><%= button_to 'Delete', {controller: :categories ,action: :destroy , id: c.id}, confirm: "Are you sure?" ,method: :delete%>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Category',new_category_path()%>

