<%= form_for(@category) do |f| %> 
  <% if @category.present? && @category.errors.any? %>
    <div id="error_explanation">
      <h5 style="color:DarkRed">
        <%= pluralize(@category.errors.count, "error") %> 
        prohibited
        this category from being saved:</h5>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <center><h3>New Category</h3></center>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </p>

  <p>
  <%= f.radio_button :contactmethod, 'Active', :checked => true %> 
  <%= label :contactmethod_active, 'Active' %>
  <%= f.radio_button :contactmethod, 'Inactive' %>
  <%= label :contactmethod_inactive, 'Inactive' %>
  </p>

  <p>
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>