<p>
  <strong>name:</strong>
  <%= @category.name %>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>price</th>
    <th>Description</th>
  </tr>
  <% @category.products.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.price %></td>
    <td><%= c.description  %></td>
  </tr>  
  <% end %>
</table>  
<%= link_to 'Show All categories', categories_path %>