<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Description</th>
  </tr>
  
  <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.status %></td>
      <td><%= p.price %></td>
      <td><%= p.description  %></td>
      <td><%= link_to 'Show',product_path(p)%></td>
      <td><%= link_to 'Edit',edit_product_path(p)%></td>
      <td><%= button_to 'Delete', {controller: :products ,action: :destroy , id: p.id}, confirm: "Are you sure?" ,method: :delete%></td>
    </tr>
  <% end %>
</table>
